body {
    background-color:lightgoldenrodyellow;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.titlebanneruc {
    font-family:'Courier New', Courier, monospace;
    font-size: 60px;
    color:black

}


.titlebannerbloguc {
    font-size: 60px;
    color: azure;
}
.madebyuc {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

nav a {
    color:azure;
    
}

.ucoverzichtpics {
    border-radius: 30px;
}

.footers {
    background-color: black;
}

.contacttitle {
    color:azure
}

.footercontent {
    color:azure
}